html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}

#quote-box {
  width: 450px;
  height: 250px;
  border-radius: 5px;
  background-color: white;
}

#text {
  padding: 30px;
  text-align: center;
}

#author {
  text-align: end;
  padding: 0px 30px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-area: "icon1 icon2 button";
}

.button1 {
  height: 5px;
  width: 5px;
  grid-area: icon1;
}

.button2 {
  height: 5px;
  width: 5px;
  grid-area: icon2;
}

#new-quote {
  cursor: pointer;
  padding: 30px;
  border: 1px solid red;
  grid-area: button;
}
